<!DOCTYPE html>
<html ng-app="rospogeo" ng-controller="GeoMapCtrl">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Example RospoGeo Map</title>

    <script src="../vendors/angular/angular.min.js" ></script>
    <link rel="stylesheet" href="../vendors/openlayers/theme/default/style.css" type="text/css">
    <link rel="stylesheet" href="../vendors/openlayers/theme/default/google.css" type="text/css">
    <link rel="stylesheet" href="../vendors/openlayers/examples/style.css" type="text/css">

    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
    <script src="../vendors/openlayers/lib/OpenLayers.js" ></script>

    <!-- build:js rospogeo-map.js -->
    <script src="module.js" ></script>
    <script src="template.js" ></script>
    <script src="directive/geo-directive-map.js"></script>
    <script src="directive/geo-directive-layer.js"></script>
	<script src="directive/geo-directive-layer-param.js" ></script>
    <!-- endbuild -->
    <script>
        var geo = angular.module('rospogeo', ['rospgeo.map']);

        geo.controller('GeoMapCtrl', function ($scope) {
            console.log($scope);
            $scope.width = 500;
            $scope.height = 300;
        });

    </script>

</head>
<body>
    <h1>Configure map: </h1>
    <label for="range-width">width: {{width}}</label>
    <input id="range-width" type="range" data-ng-model="width" min="100" max="1000"/>
    <label for="range-height">height: {{height}}</label>
    <input id="range-height" type="range" data-ng-model="height" min="100" max="1000"/>
    <hr/>
    <map id="rospo" width="{{width}}" height="{{height}}" class="smallmap" lon="10" lat="3" zoom="5">
        <layer type="WMS" name="OpenLayers WMS" url="http://vmap0.tiles.osgeo.org/wms/vmap0">
            <layer-param name="basic" ></layer-param>
        </layer>
        <layer type="Google">
            <layer-param name="STREET"></layer-param>
        </layer>
    </map>
    <br/>
    <hr/>
    <h1>Code to generate this map: </h1>
    <pre>
        <code>
            &lt;map id="rospo" width="100" height="100"&gt;
                &lt;layer type="WMS" name="OpenLayers WMS" url="http://vmap0.tiles.osgeo.org/wms/vmap0"&gt;
                    &lt;layer-param name="basic" &gt;&lt;/layer-param&gt;
                &lt;/layer&gt;
                &lt;layer type="Google"&gt;&lt;/layer&gt;
            &lt;/map>
        </code>
    </pre>
</body>
</html>